html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: $white-smoke;
  font-family:  Poppins-Regular, Poppins-Light, Poppins-Bold, Poppins-SemiBold,
                Poppins-SemiBold, Poppins-Regular, Poppins-Italic, Poppins-Medium !important;
}

#mount {
  width: 100%;
}

.cursor-default {
  cursor: default;
  .ant-checkbox-input {
    cursor: default;
  }
}

.profile {
  &-name {
    padding: 0 .5em;
    font-family: Poppins-Bold;
    margin-bottom: 1em;
    line-height: normal;
  }
  &-role {
    padding: 0 .5em;
    line-height: normal;
    font-family: Poppins-Regular;
  }
}

.img-contain {
  background-color: $grey !important;
  & > img {
    object-fit: contain !important;
  }
}

.bg-blue {
  background-color: $bg-blue;
}
.w- {
  &15 {
    width: 15%;
  }
  &md- {
    &50 {
      width: 50% !important;
    }
  }
}
.border {
  &-blue {
    border: 2px solid $bg-blue;
  }
  &-lg {
    border-width: 2px !important;
  }
  &-active-bottom {
    font-family: Poppins-Bold;
    border-radius: 0 !important;
    border-bottom: 2px solid $bg-blue !important;
  }
}
.title {
  &-page {
    color: $bg-blue;
    font-size: 2em;
    font-family: Poppins-Medium;
  }
  &-card {
    color: $bg-blue !important;
    font-size: 18px;
    font-family: Poppins-SemiBold;
  }
}

@media (max-width: 1280px) {
  font-size: 14px !important;
}
@media (max-width: 768px) {
  .w-md- {
    &50 {
      width: 100% !important;
    }
  }
}

.ant-tree-icon-hide {
  background: transparent;
}

.signature-canvas {
  border: thin;
  border-style: dashed;
}
