.ant-card {
  border-radius: 10px !important;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);

  &.wrapper-career {
    width: 100%;
    height: 100vh;
    overflow: scroll;
    &::-webkit-scrollbar {
      height: .5em;
      width: .5em;
      background-color: $white;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.15);
    }
    &::-webkit-scrollbar-thumb {
      background-color: $bg-blue;
      border-radius: .25em;
    }
  }
  &.card {
    &-product {
      height: 650px;
      .item {
        height: calc(100% - (60px + 2.5rem));
      }
    }
    &-notif {
      height: 340px;
      .item {
        height: calc(100% - 48px);
      }
    }
    &-product, &-notif {
      overflow-y: hidden;
      .ant-card-body {
        height: 100%;
      }
      .item {
        overflow-y: scroll;
        overflow-x: scroll;
        margin-bottom: 1rem;
        &::-webkit-scrollbar {
          width: .5em;
          height: 0;
          background-color: $white;
        }
        &::-webkit-scrollbar-thumb {
          background-color: $bg-grey;
          border-radius: .25em;
        }
      }
    }
    &-description {
      .ant-card {
        &-body {
          padding: 24px 0 !important;
        }
      }
    }
    &-career {
      width: 160px !important;
      margin: auto !important;
      height: 100px !important;
      background-color: rgba(43, 87, 183, 0.2);
      &.inactive {
        background-color: #ffa98b;
      }
      .ant-card {
        &-body {
          border-radius: 4px;
          height: inherit;
          width: inherit;
          padding: .25em 1em;
          text-align: left;
          font-family: Poppins-SemiBold;
          .initial {
            background-color: $bg-blue;
            margin-right: .5em;
          }
          .name {
            font-family: Poppins-Bold;
            font-size: 14px;
            color: $bg-blue;
            margin: .5em 0;
          }
          .label {
            font-size: 10px;
            color: $bg-blue;
          }
        }
      }
    }
  }
}

.card-box-filter {
  border-radius: 16px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.04);
  background-color: #ffffff;

  @media screen and (max-width: 500px){
    margin-bottom: 24px;
  }

  .ant-card-body {
    padding: 20px;
  }

  .title-box {
    margin-bottom: 20px;

    h5 {
      font-family: Poppins-SemiBold;
      font-size: 18px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #2b57b7;
    }
  }
}

.placeholder {
  padding: 20px;
  text-align: center;
}

.player-video {
  width: unset !important;
  height: unset !important;
}

.card-box-list {
  border-radius: 16px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.04);
  background-color: #ffffff;

  .ant-card-body {
    padding: 0;
  }

  .cart-item-list {
    padding: 30px 60px 10px;

    @media screen and (max-width: 500px){
      padding: 20px 20px 10px;
    }

    .info-item {
      label {
        font-family: Poppins-Regular;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #2c2e30;
        margin-bottom: 3px;
      }

      p {
        font-family: Poppins-Medium;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #2c2e30;
        margin-bottom: 7px;
      }

      .id-item {
        font-family: Poppins-Regular;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #95a5a6;
      }

      .price {
        font-family: Poppins-Regular;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #2b57b7;
        bottom: 0;
        position: absolute;
        right: 12px;

        @media screen and (max-width: 500px){
          position: relative;
          right: auto;
          bottom: auto;
        }
      }
    }
  }

  .card-footer-result {
    padding: 30px 60px 10px;

    @media screen and (max-width: 500px){
      padding: 20px 20px 10px;
    }

    .text-pay {
      color: #2b57b7;
      font-size: 16px;
      font-weight: 600;
    }

    .text-price {
      color: #2b57b7;
      font-size: 20px;
      font-weight: 600;
    }

    .button-save {
      width: 173px;
      float: right;
      margin: 30px auto 50px;
    }
  }
}