.collapse-detail {
  border: none;
  border-radius: 0px;
  background: none;
  text-align: center;

  @media screen and (max-width: 500px){
    margin-bottom: 10px;
  }


  .ant-collapse-header {
    border: none;
    color: #2b57b7;
    font-family: Poppins-Regular;
    font-size: 14px;
  }

  .ant-collapse-item {
    border: none;
  }

  .ant-collapse-content {
    border: none
  }

  .anticon {
    display: none!important;
  }
}