.ant-descriptions {
  &-row {
    vertical-align: top;
    th {
      span {
        margin-bottom: .1em !important;
      }
    }
    // td {
    //   span {
    //     margin-bottom: 1em !important;
    //   }
    // }
  }
  &-item {
    padding-bottom: .5em !important;
    &.profile-detail {
      .ant-descriptions-item {
        &-label {
          margin-bottom: 0;
        }
        &-content {
          margin-bottom: 1em;
        }
      }
    }
    &-label {
      color: $desc-grey !important;
      margin-bottom: 1em;
    }
    &-content, .ant-typography {
      color: $black !important;
      font-family: Poppins-Medium;
    }
    &.desc-action {
      .ant-descriptions {
        &-item {
          &-content {
            width: 90% !important;
          }
        }
      }
    }
  }
}