.form-container {
  text-align: center;
  height: 100vh;
  background: url('/assets/sky.png'), url('/assets/bg-login.png'), url('/assets/teal.png');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 44.75% 59%, 65% 90%, left center;
  display: flex;
  align-items: center;
  background-color: $white;
  // background-size: auto;
  @media (max-width: 768px) {
    background-color: $bg-blue;
    background-image: unset;
  }
  &.forgot {
    background: url('/assets/bg-forgot.png'), url('/assets/teal.png');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 65% 90%, left center;
    background-color: $white;
    @media (max-width: 768px) {
      background-color: $bg-blue;
      background-image: unset;
    }
  }
}

.form-signin {
  width: 100%;
  max-width: 475px;
  background-color: rgba(255, 255, 255, 1);
  // border-radius: 10px;
  padding: 1em !important;
  h3 {
    text-align: left;
    font-family: Poppins-SemiBold;
    margin-bottom: 1em;
  }
  h4 {
    margin-bottom: 30px;
  }

  .ant-form, .ant-legacy-form {
    &-item {
      text-align: left;
      margin-bottom: .5rem;
      box-sizing: border-box;
      &-control {
        .ant-input {
          height: auto;
          padding: 10px !important;
          font-size: 16px;
          border-radius: 5px;
        }
        .ant-input-affix-wrapper {
          border-radius: 5px;
          input {
            padding: 10px 0 !important
          }
        }
      }
      &-label {
        margin-bottom: 0 !important;
        line-height: unset !important;
      }
    }
  }

  .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    
    &:focus {
      z-index: 2;
    }
  }
  
  .input-auth {
    height: 40px !important;
    border-radius: 5px;
  }
  .capitalize {
    &::placeholder {
      text-transform: capitalize;
    }
  }
  .select-auth {
    .ant-select-selector {
      border-radius: 5px;
    }
  }
}

.child-item {
  .ant-form {
    &-item {
      margin-bottom: 0;
      &-label {
        line-height: normal !important;
        label {
          margin-bottom: 0;
          margin-top: 1em;
        }
      }
    }
  }
  .anticon {
    &-delete {
      display: flex;
      padding-top: 1em;
      justify-content: flex-end;
      &:hover {
        color: $blue;
      }
    }
  }
}
.error-details {
  margin-top: 20px;
  margin-bottom: 20px;
}

.ant-legacy-form-explain {
  white-space: break-spaces;
}

.mitra-search-input {
  padding: 14px 25px;
  border-radius: 15px;
  border:none;
  box-shadow: 0 2px 34px 0 rgba(0, 0, 0, 0.09);

  &:focus {
    border: none;
  }
  &:hover {
    border: none;
  }
} 

.mitra-select-filter {
  width: 100%;
  .ant-select-selector {
    padding: 10px 25px!important;
    border-radius: 15px;
    font-family: Poppins-Regular;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2c2e30;
    height: auto!important;
    border-radius: 5px;
    border: none!important;
    box-shadow: 0 2px 34px 0 rgba(0, 0, 0, 0.09);
    
    &:focus {
      border: none;
    }
    &:visited {
      border: none;
    }
    &:hover {
      border: none;
    }
  }

  .ant-select-selection-placeholder {
    font-family: Poppins-Regular;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    opacity: 1;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2c2e30;
    height: auto!important;
    border-radius: 5px;
  }

  .ant-select-arrow {
    right: 20px;
  }
}

.mitra-submit-filter {
  width: 100%;
  padding: 12px;
  height: auto;
  font-family: Poppins-SemiBold;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}


.mitra-submit-filter-sm {
  padding: 5px 24px;
  height: auto;
  font-family: Poppins-SemiBold;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}


.button-detail {
  @media screen and (max-width: 500px){
    margin-bottom: 10px;
  }

  .mitra-submit-filter-sm {
    font-size: 10px;
    width: 100%;
  }
}

.uppercase-auto-complite {
  input {
    text-transform: uppercase;
  }
}