.anticon {
  vertical-align: 0 !important;
}

.zoom-icon {
  i {
    font-size: 18px;
    transition: font-size .5s ease-in-out;
  }
  .btn-signout {
    color: unset !important;
  }
  .icon-menu {
    width: 18px;
    margin-right: .5rem;
    transition: width .5s ease-in-out;
  }
  &:hover {
    i {
      font-size: 24px;
    }
    .icon-menu {
      filter: invert(1) sepia(1) saturate(5) hue-rotate(175deg);
      width: 24px;
    }
    .btn-signout {
      color: $blue !important;
    }
  }
}

.icon-error {
  .ant-avatar {
    &-string{
      opacity: unset !important;
      position: inherit;
      left: 0;
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

.ant-card {
  .ant-card-body {
    .material-img {
      background-color: $white;;
      img {
        height: auto;
        display: inline-block;
        vertical-align: middle;
        @media screen and (max-width: 776px) {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
