.ant-input, .ant-input-number, .ant-input-affix-wrapper, .ant-picker {
  input {
    padding: 0 5px;
    font-size: 14px;
  }
  &-suffix {
    display: flex;
    align-items: center;
  }
  &.field- {
    &lg {
      height: 42px;
    }
  }
}

.ant-input-affix-wrapper > {
  .ant-input {
    height: 100%;
    padding: 0 5px !important;
  }
}

.ant-input-number {
  width: 100%;
  &-suffix {
    display: flex;
    align-items: center;
  }
  &.field- {
    &lg input {
      height: 42px;
    }
  }
}

.ant-checkbox {
  &-inner {
    border-radius: 4px !important;
  }
}

.ant-checkbox-disabled {
  .ant-checkbox-inner {
    width: 18px;
    height: 18px;
    border-color: #6488d4;
    border-radius: 5px !important;
    // background-color: #6488d4 !important;
    &::after {
      left: 4px;
      border-color: #fff !important;
    }
  }
}
.mitra-date-picker {
  width: 100%;
    padding: 10px 25px!important;
    border-radius: 15px;
    font-family: Poppins-Regular;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2c2e30;
    height: auto!important;
    border-radius: 5px;
    border: none!important;
    box-shadow: 0 2px 34px 0 rgba(0, 0, 0, 0.09);

    &:focus {
      border: none;
    }
    &:visited {
      border: none;
    }
    &:hover {
      border: none;
    }
}

.checkedDisabled {
  .ant-checkbox-disabled {
    .ant-checkbox-inner {
      width: 18px;
      height: 18px;
      border-radius: 5px !important;
      background-color: #fff !important;
    }
  }
}

textarea {
  &.ant-input {
    height: auto !important;
  }
}

.uppercase {
  font-size: 16px;
  text-transform: uppercase;
  &::placeholder {
    text-transform: capitalize; 
  }
}

.input-col-filter {
  margin-bottom: 20px;

  span {
    display: block;
    font-family: Poppins-Regular;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2c2e30;
  }

  .mitra-select-filter-sm {
    width: 100%;

    .ant-select-selector {
      border-radius: 5px;
      box-shadow: 0 2px 34px 0 rgba(0, 0, 0, 0.09);
      background-color: #ffffff;
      height: auto!important;
      border: none;
      font-family: Poppins-Regular;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #2c2e30;
      padding: 4px 16px!important;
      margin-top: 7px;

      &:focus {
        border: none;
        outline: none;
      }
      &:visited {
        border: none;
        outline: none;

      }
      &:hover {
        border: none;
      }
    }
  }
}

.mitra-input-filter-sm {
  border: none;
  width: 100%;
  box-sizing: border-box;;
  padding: 10px 16px;
  margin-top: 7px;
  border-radius: 5px;
  box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.11);
  background-color: #ffffff;
  font-family: Poppins-Regular;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2c2e30;


  &:focus {
    border: none;
    outline: none;
  }
}

input.currency:read-only {
  color: rgba(0, 0, 0, 0.25);
  background: #f5f5f5;
  cursor: not-allowed;
}