.ant-layout {
  &-sider {
    height: 100vh;
    min-width: 275px !important;
    max-width: 275px !important;
    width: 275px !important;
    font-family: Poppins-SemiBold;
    &-collapsed {
      min-width: 80px !important;
      max-width: 80px !important;
      width: 80px !important;
      .zoom-icon {
        .nav-text {
          display: none;
        }
      }
    }
    &-children {
      height: calc(100vh - 50px) !important;
      overflow-y: scroll;
      overflow-x: hidden;
      margin-bottom: 50px;
      &::-webkit-scrollbar {
        width: .4em;
        height: 0;
        background-color: $white;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $bg-grey;
        border-radius: .25em;
      }
    }
    &-trigger {
      width: inherit !important;
      color: $white !important;
      background-color: $bg-blue !important;
    }
    &-has-trigger {
      padding-bottom: 0 !important;
    }
    &-dark {
      // background-color: $white !important;
    }
  }
  .main-content {
    // height: calc(100vh - 64px);
    height: 100vh;
    overflow-y: scroll;
    background: url('/assets/city-bg.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    word-break: break-word;
  }
}

@media (max-width: 768px) {
  .ant-layout {
    &-content {
      padding: 0 !important;
    }
  }
}
