.wrapper-loader {
  z-index: 9;
  display: flex;
  top: 0; bottom: 0;
  left: 0; right: 0;
  font-weight: bold;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .5);
  }
}