.ant-menu {
  &-item {
    padding: 0 1.5rem !important;
    &-selected {
      background-color: $bg-blue !important;
      color: $white !important;
      .icon-menu {
        filter: brightness(0) invert(1);
      }
    }
  }
  &-submenu {
    background-color: unset !important;
    &-title {
      padding: 0 1.5rem !important;
    }
    &-open {
      .ant-menu {
        &-item {
          padding-left: 3.5em !important;
        }
      }
    }
    &-selected {
      background-color: unset !important;
      color: unset !important;
      .icon-menu {
        // filter: brightness(0) invert(1);
      }
      .ant-menu {
        &-sub {
          // background-color: rgba(0, 0, 0, .1) !important;
        }
        &-item {
          padding-left: 3.5em !important;
          color: unset;
          // font-family: Poppins-Regular;
          &-selected {
            background-color: $bg-blue !important;
            color: $white !important;
            font-family: Poppins-SemiBold;
          }
        }
        &-submenu-arrow {
          &::before, &::after {
            // color: $white !important;
            // background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1)) !important;
          }
        }
      }
    }
  }
  .side-submenu {
    margin-bottom: -7px;
    .ant-menu-submenu-title {
      background: #f0f2f5;
    }
  }
}
