.wrap-modal-preview {
  background: #f9f9f9;
  .modal-sppa {
    .ant-modal-content {
      background: none;
      box-shadow: none;
      .ant-modal-header {
        background: none;
        border-bottom: none;
        .ant-modal-title {
          font-size: 30px;
          color: #2b57b7;
          font-family: Poppins-Regular;
        }
      }
      .ant-modal-close-x {
        color: #2b57b7;
        font-size: 25px;
      }
    }
  }
}

.modal-preview {
  width: 80% !important;
  .ant-modal-content {
    box-shadow: none;
    border-radius: 15px;
    -webkit-box-shadow-: none;
    background-color: #f9f9f9;
    .ant-modal-close {
      left: 0;
      left: -60px;
      .ant-modal-close-x {
        width: 40px;
        height: 40px;
        color: #2b57b7;
        border-radius: 50%;
        border: 2px solid #2b57b7;
        .anticon-close {
          height: 35px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .ant-modal-header {
      border-bottom: none;
      border-radius: 15px;
      background-color: #f9f9f9;
      .ant-modal-title {
        font-size: 24px;
        color: #2b57b7;
        font-family: Poppins-SemiBold;
      }
    }
  }
  .form-add-customer-modal {
    .form-add-customer {
      display: grid;
      grid-row-gap: 20px;
      grid-column-gap: 20px;
      grid-template-columns: 50% 50%;
      grid-template-rows: auto 20% auto;
      .data-customer {
        padding: 20px;
        grid-row-end: 4;
        grid-row-start: 1;
        grid-column-end: 2;
        grid-column-start: 1;
        border-radius: 15px;
        background-color: #ffffff;
        box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.04);
        .title-type {
          font-size: 18px;
          color: #2b57b7;
          margin-bottom: 15px;
          font-family: Poppins-SemiBold;
        }
        .row-customer {
          margin-bottom: 10px;
          .customer {
            padding: 0 10px;
            .title-agent {
              font-size: 14px;
              margin-bottom: 10px;
              font-family: Poppins-Regular;
            }
            .row-agent-id {
              margin: 0;
              .col-radio {
                .radio-button {
                  font-size: 14px;
                  font-family: Poppins-Regular;
                }
              }
              .select-agent {
                width: 100%;
              }
            }
            .radio-button {
              margin-left: 25px;
            }
            .group-input-formik {
              margin-top: 0;
              .customer-input {
                width: 100%;
              }
              input[name="picName"],
              input[name="nameCustomer"] {
                text-transform: uppercase;
                &::placeholder {
                  text-transform: capitalize;
                }
              }
            }
            .col-datetime {
              padding-left: 0;
              padding-right: 0;
              @media screen and (max-width: 440px) {
                padding-left: 15px;
                padding-right: 15px;
              }
            }
            .birth-date {
              .react-datepicker-wrapper {
                width: 100%;
                &::after {
                  float: right;
                  content: url('/assets/group-14.svg');
                }
                .react-datepicker__input-container {
                  width: 70%;
                }
              }
            }
            .group-select-formik {
              margin-bottom: 0;
              .select-customer {
                width: 100%;
              }
            }
          }
        }
      }
      .customer-address {
        padding: 20px;
        grid-row-end: 2;
        grid-row-start: 1;
        grid-column-end: 2;
        grid-column-start: 2;
        border-radius: 15px;
        background-color: #ffffff;
        .title-type {
          font-size: 18px;
          color: #2b57b7;
          margin-bottom: 15px;
          font-family: Poppins-SemiBold;
        }
        .row-customer {
          margin-bottom: 20px;
          .customer {
            padding: 0 10px;
            .title-agent {
              font-size: 14px;
              margin-bottom: 10px;
              font-family: Poppins-Regular;
            }
            .row-agent-id {
              margin: 0;
              .col-radio {
                .radio-button {
                  font-size: 14px;
                  font-family: Poppins-Regular;
                }
              }
              .select-agent {
                width: 100%;
              }
            }
            .group-input-formik {
              margin-top: 0;
              .customer-input {
                width: 100%;
              }
            }
            .col-datetime {
              padding-left: 0;
              padding-right: 0;
              @media screen and (max-width: 440px) {
                padding-left: 15px;
                padding-right: 15px;
              }
            }
            .birth-date {
              .react-datepicker-wrapper {
                width: 100%;
                &::after {
                  float: right;
                  content: url('/assets/group-14.svg');
                }
                .react-datepicker__input-container {
                  width: 70%;
                }
              }
            }
            .group-select-formik {
              margin-bottom: 0;
              .select-customer {
                width: 100%;
              }
            }
          }
        }
      }
      .customer-contact {
        padding: 20px;
        grid-row-end: 4;
        grid-row-start: 2;
        grid-column-end: 3;
        grid-column-start: 2;
        border-radius: 15px;
        background-color: #ffffff;
        .title-type {
          font-size: 18px;
          color: #2b57b7;
          margin-bottom: 15px;
          font-family: Poppins-SemiBold;
        }
        .row-customer {
          margin-bottom: 20px;
          .customer {
            padding: 0 10px;
            .title-agent {
              font-size: 14px;
              margin-bottom: 10px;
              font-family: Poppins-Regular;
            }
            .group-input {
              input[name="address"] {
                text-transform: uppercase;
                &::placeholder {
                  text-transform: capitalize;
                }
              }
            }
            .row-agent-id {
              margin: 0;
              .col-radio {
                .radio-button {
                  font-size: 14px;
                  font-family: Poppins-Regular;
                }
              }
              .select-agent {
                width: 100%;
              }
            }
            .group-input-formik {
              margin-top: 0;
              .customer-input {
                width: 100%;
              }
            }
            .col-datetime {
              padding-left: 0;
              padding-right: 0;
              @media screen and (max-width: 440px) {
                padding-left: 15px;
                padding-right: 15px;
              }
            }
            .birth-date {
              .react-datepicker-wrapper {
                width: 100%;
                &::after {
                  float: right;
                  content: url('/assets/group-14.svg');
                }
                .react-datepicker__input-container {
                  width: 70%;
                }
              }
            }
            .group-select-formik {
              margin-bottom: 0;
              .select-customer {
                width: 100%;
              }
            }
          }
        }
      }
    }
    .form-button {
      grid-row-start: 4;
      grid-column-end: 3;
      grid-column-start: 2;
      .cancel-button {
        width: 120px;
        float: right;
        margin: 20px 0;
        padding: 7px 0;
        border-radius: 10px;
        font-family: Poppins-SemiBold;
        @media screen and (max-width: 415px) {
          margin: 20px 5px;
        }
      }
      .save-button {
        width: 120px;
        float: right;
        padding: 7px 0;
        border-radius: 10px;
        margin: 20px 10px 20px 20px;
        font-family: Poppins-SemiBold;
        @media screen and (max-width: 415px) {
          margin: 20px 5px;
        }
      }
    }
  }
}

.modal-add-customer {
  width: 80% !important;
  .ant-modal-content {
    box-shadow: none;
    border-radius: 15px;
    -webkit-box-shadow-: none;
    background-color: #f9f9f9;
    .ant-modal-close {
      left: 0;
      left: -60px;
      .ant-modal-close-x {
        width: 40px;
        height: 40px;
        color: #2b57b7;
        border-radius: 50%;
        border: 2px solid #2b57b7;
        .anticon-close {
          height: 35px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .ant-modal-header {
      border-bottom: none;
      border-radius: 15px;
      background-color: #f9f9f9;
      .ant-modal-title {
        font-size: 24px;
        color: #2b57b7;
        font-family: Poppins-SemiBold;
      }
    }
  }
  .form-add-customer-modal {
    .form-add-customer {
      display: grid;
      grid-row-gap: 20px;
      grid-column-gap: 20px;
      grid-template-columns: 50% 50%;
      grid-template-rows: auto 20% auto;
      .data-customer {
        padding: 20px;
        grid-row-end: 4;
        grid-row-start: 1;
        grid-column-end: 2;
        grid-column-start: 1;
        border-radius: 15px;
        background-color: #ffffff;
        box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.04);
        .title-type {
          font-size: 18px;
          color: #2b57b7;
          margin-bottom: 15px;
          font-family: Poppins-SemiBold;
        }
        .row-customer {
          margin-bottom: 10px;
          .customer {
            padding: 0 10px;
            .title-agent {
              font-size: 14px;
              margin-bottom: 10px;
              font-family: Poppins-Regular;
            }
            .row-agent-id {
              margin: 0;
              .col-radio {
                .radio-button {
                  font-size: 14px;
                  font-family: Poppins-Regular;
                }
              }
              .select-agent {
                width: 100%;
              }
            }
            .radio-button {
              margin-left: 25px;
            }
            .group-input-formik {
              margin-top: 0;
              .customer-input {
                width: 100%;
              }
              input[name="picName"],
              input[name="nameCustomer"] {
                text-transform: uppercase;
                &::placeholder {
                  text-transform: capitalize;
                }
              }
            }
            .col-datetime {
              padding-left: 0;
              padding-right: 0;
              @media screen and (max-width: 440px) {
                padding-left: 15px;
                padding-right: 15px;
              }
            }
            .birth-date {
              .react-datepicker-wrapper {
                width: 100%;
                &::after {
                  float: right;
                  content: url('/assets/group-14.svg');
                }
                .react-datepicker__input-container {
                  width: 70%;
                }
              }
            }
            .group-select-formik {
              margin-bottom: 0;
              .select-customer {
                width: 100%;
              }
            }
          }
        }
      }
      .customer-address {
        padding: 20px;
        grid-row-end: 2;
        grid-row-start: 1;
        grid-column-end: 2;
        grid-column-start: 2;
        border-radius: 15px;
        background-color: #ffffff;
        .title-type {
          font-size: 18px;
          color: #2b57b7;
          margin-bottom: 15px;
          font-family: Poppins-SemiBold;
        }
        .row-customer {
          margin-bottom: 20px;
          .customer {
            padding: 0 10px;
            .title-agent {
              font-size: 14px;
              margin-bottom: 10px;
              font-family: Poppins-Regular;
            }
            .row-agent-id {
              margin: 0;
              .col-radio {
                .radio-button {
                  font-size: 14px;
                  font-family: Poppins-Regular;
                }
              }
              .select-agent {
                width: 100%;
              }
            }
            .group-input-formik {
              margin-top: 0;
              .customer-input {
                width: 100%;
              }
            }
            .col-datetime {
              padding-left: 0;
              padding-right: 0;
              @media screen and (max-width: 440px) {
                padding-left: 15px;
                padding-right: 15px;
              }
            }
            .birth-date {
              .react-datepicker-wrapper {
                width: 100%;
                &::after {
                  float: right;
                  content: url('/assets/group-14.svg');
                }
                .react-datepicker__input-container {
                  width: 70%;
                }
              }
            }
            .group-select-formik {
              margin-bottom: 0;
              .select-customer {
                width: 100%;
              }
            }
          }
        }
      }
      .customer-contact {
        padding: 20px;
        grid-row-end: 4;
        grid-row-start: 2;
        grid-column-end: 3;
        grid-column-start: 2;
        border-radius: 15px;
        background-color: #ffffff;
        .title-type {
          font-size: 18px;
          color: #2b57b7;
          margin-bottom: 15px;
          font-family: Poppins-SemiBold;
        }
        .row-customer {
          margin-bottom: 20px;
          .customer {
            padding: 0 10px;
            .title-agent {
              font-size: 14px;
              margin-bottom: 10px;
              font-family: Poppins-Regular;
            }
            .group-input {
              input[name="address"] {
                text-transform: uppercase;
                &::placeholder {
                  text-transform: capitalize;
                }
              }
            }
            .row-agent-id {
              margin: 0;
              .col-radio {
                .radio-button {
                  font-size: 14px;
                  font-family: Poppins-Regular;
                }
              }
              .select-agent {
                width: 100%;
              }
            }
            .group-input-formik {
              margin-top: 0;
              .customer-input {
                width: 100%;
              }
            }
            .col-datetime {
              padding-left: 0;
              padding-right: 0;
              @media screen and (max-width: 440px) {
                padding-left: 15px;
                padding-right: 15px;
              }
            }
            .birth-date {
              .react-datepicker-wrapper {
                width: 100%;
                &::after {
                  float: right;
                  content: url('/assets/group-14.svg');
                }
                .react-datepicker__input-container {
                  width: 70%;
                }
              }
            }
            .group-select-formik {
              margin-bottom: 0;
              .select-customer {
                width: 100%;
              }
            }
          }
        }
      }
    }
    .form-button {
      grid-row-start: 4;
      grid-column-end: 3;
      grid-column-start: 2;
      .cancel-button {
        width: 120px;
        float: right;
        margin: 20px 0;
        padding: 7px 0;
        border-radius: 10px;
        font-family: Poppins-SemiBold;
        @media screen and (max-width: 415px) {
          margin: 20px 5px;
        }
      }
      .save-button {
        width: 120px;
        float: right;
        padding: 7px 0;
        border-radius: 10px;
        margin: 20px 10px 20px 20px;
        font-family: Poppins-SemiBold;
        @media screen and (max-width: 415px) {
          margin: 20px 5px;
        }
      }
    }
  }
}