.ant-pagination {
  float: right;
  &-item, &-item-link {
    background: transparent !important;
    border: none !important;
    height: unset !important;
    line-height: normal !important;
    &-active {
      color: $blue;
      font-size: 18px;
    }
  }
  &-jump-next, &-jump-prev {
    vertical-align: inherit !important;
  }
  &-prev, &-next {
    height: unset !important;
    line-height: normal !important;
  }
}

.ant-pagination {
  width: auto;
}