.ant-descriptions-item-content{
  width: 100%;
  .price-payment{
    width: 129px;
    height: 28px;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2c2e30;
  }
  .total-payment{
    width: 143px;
    height: 28px;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2b57b7
  }
  .ant-col{
    .info-row-payment {
      margin-left: 50px;
      h5 {
        font-family: Poppins-Regular;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #2c2e30;
      }
    }
  }
}
