.ant-select {
  &.field- {
    &lg {
      .ant-select {
        &-selector {
          height: 42px !important;
        }
        &-selection {
          &-placeholder, &-item {
            line-height: 42px !important;
          }
        }
      }
    }
  }
}