.slick {
  &-slider {
    border-radius: 10px;
    height: 145px;
    .slick-list> div {
      margin-left:0;
    }
    .slick {
      &-list, &-track {
        height: 100%;
      }
      &-slide {
        padding: 0 .5em;
        div {
          height: 100%;
        }
      }
      &-arrow {
        height: 100%;
        width: 25px;
        font-size: 18px;
        z-index: 9;
        color: $bg-blue;
        text-shadow: 1px 1px 3px $white;
      }
      &-prev {
        left: 0;
        border-radius: 10px 0 0 10px;
        background: transparent;
        &:hover {
          color: $white;
          background-image: linear-gradient(to left, transparent, #2b57b7 135%);
        }
      }
      &-next {
        right: 0;
        border-radius: 0 10px 10px 0;
        background: transparent;
        &:hover {
          color: $white;
          background-image: linear-gradient(to right, transparent, #2b57b7 135%);
        }
      }
    }
  }  
}