.container-status {
  width: 70%;
  margin: 0 auto;
  .wrapped-status {
    margin-top: 50px;
    h1 {
      font-weight: 500;
      color: #2b57b7;
      margin-bottom: 50px;
    }
    h2 {
      margin-bottom: 20px;
    }
    p {
      font-size: 14px;
      color: #2c2e30;
      margin-bottom: 25px;
    }
    .trigger-blue {
      color: #2b57b7;
    }
    .back {
      float: right;
    }
    ol {
      padding-left: 20px;
    }
  }
}