.swal2 {
  &-title {
    word-break: break-word;
  }
}

.popup-container .swal2-title {
  font-family: Poppins-SemiBold;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2b57b7;
}

.swal2-popup {
  @media screen and (max-width: 776px) {
    width: 25em !important;
    font-size: 12px !important;
  }
}