.banner {
  &-content {
    &.contest-upload {
      .ant-upload {
        width: 60% !important;
        height: 150px !important;

        .banner-preview {
          width: 100%;
          height: inherit;
        }
      }
    }
    &.upload-doc {
      .ant-upload {
        width: 100% !important;
        height: 250px !important;

        .banner-preview {
          width: 100%;
          height: inherit;
        }
      }
    }
    .ant-upload {
      width: 150px !important;
      height: 150px !important;

      .banner-preview {
        width: 100%;
        height: inherit;
      }
      &-list {
        &-picture {
          &-card-container {
            height: 150px !important;
            width: 150px !important;
          }
        }
        &-item {
          height: 150px !important;
          width: 150px !important;
          &-thumbnail {
            .anticon {
              font-size: 90px !important;
            }
          }
        }
      }
    }
  }
  &-preview {
    background-color: $grey !important;
    & > img {
      object-fit: contain !important;
    }
  }
}