// base colors
$white:                 #FFF !default;
$white-smoke:           #F5F5F5 !default;
$grey:					#f3f6f9;
$blue:					#1890ff;
$bg-blue:				#2b57b7;
$black:					#000000;
$desc-grey:				#95a5a6;
$bg-grey:				#95a5a6;

// border radius sizes
$border-radius:          6px !default;
$border-radius-lg:       8px !default;
$border-radius-sm:       4px !default;

@font-face {
	font-family: Poppins-Reguler;
	src: url('/assets/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Light;
  src: url('/assets/fonts/Poppins-Light.ttf');
}

@font-face {
	font-family: Poppins-Bold;
	src: url('/assets/fonts/Poppins-Bold.ttf');
}

@font-face {
	font-family: Poppins-SemiBold;
	src: url('/assets/fonts/Poppins-SemiBold.ttf');
}

@font-face {
	font-family: Poppins-Regular;
	src: url('/assets/fonts/Poppins-Regular.ttf');
}

@font-face {
	font-family: Poppins-Italic;
	src: url('/assets/fonts/Poppins-Italic.ttf');
}

@font-face {
	font-family: Poppins-Medium;
	src: url('/assets/fonts/Poppins-Medium.ttf');
}
